// cách top 6 rem
.footer-container{
    margin-top: 6rem!important;
    font-weight: 200;
}

.a-none-underscore:hover{
    text-decoration: none;
}

// căn giữa phần footer
.footer-title{
    text-align: center;
}
.list-unstyled-1{
    margin-left: 97px;
}
.list-unstyled-2{
    margin-left: 139px;
}
.list-unstyled-3{
    margin-left: 117px;
}

