<footer class="bg-dark text-white mt-5 footer-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5 class="mb-4 footer-title">Về courses demo</h5>
        <ul class="list-unstyled list-unstyled-1 ">
          <li>Giới thiệu</li>
          <li>Liên hệ</li>
          <li>Điều khoản</li>
          <li>Bảo mật</li>
        </ul>
      </div>
      <div class="col-md-4 footer-contact">
        <h5 class="mb-4 footer-title">Liên hệ</h5>
        <ul class="list-unstyled list-unstyled-2">
          <li>
            <i class="bi bi-geo-alt"></i> Việt Nam
          </li>
          <li>
            <i class="bi bi-envelope"></i> abc@gmail.com
          </li>
          <li>
            <i class="bi bi-phone"></i> 0123456789
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-4 footer-title">Mạng xã hội</h5>
        <ul class="list-unstyled list-unstyled-3 flex-column">
          <li>
            <a class="a-none-underscore" href="https://www.facebook.com/"><i class="bi bi-facebook"> facebook</i></a>
          </li>
          <li>
            <a class="a-none-underscore" href="https://www.twitter.com/"><i class="bi bi-twitter"> twitter</i></a>
          </li>
          <li>
            <a class="a-none-underscore" href="https://www.instagram.com/"><i class="bi bi-instagram"> instagram</i></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="text-center py-2 border-top">
    Copyright &copy; 2023 | All rights reserved.
  </div>
</footer>
